@page "/"

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

@using TeamWork.Data.Rpt
@using TeamWork.Data.Comm

@inject IJSRuntime JSRuntime;

@inject IReportAsync reportSvc
@inject ICommonCodeAsync commonSvc


<h1>index</h1>
