@page "/Report/WeeklyReport"

@using VideoAppCore.Data.Models
@using System.Globalization
@inject IReportAsync reportSvc
@inject IJSRuntime JSRuntime;



<div class="row align-content-xl-end" >
    <button class="btn btn-primary m-2" @onclick="OnSave"> 저 장 </button>
    <button class="btn btn-primary m-2" @onclick="OnQuery"> 조 회 </button>
    <button class="btn btn-primary m-2" @onclick="OnClear"> 신 규</button>
</div>

    <div class="row">
        <div class="col-xl-6 portfolio-item">

            <ReportComponent StrtDate="@_thisWeekStrtDate" EndDate="@_thisWeekEndDate" EditorId="thisWeek" @ref="thisWeekComp" SaveSucceed="OnSaveCompleted"  />

            <!--
            <div class="card h-100">
                <div class="card-header">
                    <label class="px-4"> This Week </label>
                    <input type="date" @bind="thisWeekReport.STRT_DATE" @bind:format="yyyy-MM-dd" />
                    <label class="px-2"> ~ </label>
                    <input type="date" @bind="thisWeekReport.END_DATE" @bind:format="yyyy-MM-dd" />
                </div>
                <div class="card-body">
                    <textarea id="thisWeek" name="editordata"></textarea>
                </div>
            </div>
                -->
        </div>

        <div class="col-xl-6 portfolio-item">

            <ReportComponent StrtDate="@_nextWeekStrtDate" EndDate="@_nextWeekEndDate" EditorId="nextWeek" @ref="nextWeekComp" SaveSucceed="OnSaveCompleted" />

            <!--
            <div class="card h-100">
                <div class="card-header">
                    <label class="px-4"> Next Week </label>
                    <input type="date" @bind="nextWeekReport.STRT_DATE" @bind:format="yyyy-MM-dd" />
                    <label class="px-2"> ~ </label>
                    <input type="date" @bind="nextWeekReport.END_DATE" @bind:format="yyyy-MM-dd" />
                </div>
                <div class="card-body">
                    <textarea id="nextWeek" name="editordata"></textarea>
                </div>
            </div>
                -->
        </div>
    </div>

    @code {

        ReportComponent thisWeekComp, nextWeekComp;

        private string _thisWeekStrtDate, _thisWeekEndDate;
        private string _nextWeekStrtDate, _nextWeekEndDate;
        private int _save_count;


        public DateTime getMondayDate(DateTime dt)
        {
            return dt.AddDays(DayOfWeek.Monday - dt.DayOfWeek);
        }


        protected override Task OnInitializedAsync()
        {
            _thisWeekStrtDate = this.getMondayDate(DateTime.Today).ToString("yyyy-MM-dd");
            _thisWeekEndDate = this.getMondayDate(DateTime.Today).AddDays(6).ToString("yyyy-MM-dd");
            _nextWeekStrtDate = this.getMondayDate(DateTime.Today).AddDays(7).ToString("yyyy-MM-dd");
            _nextWeekEndDate = this.getMondayDate(DateTime.Today).AddDays(13).ToString("yyyy-MM-dd");

            return base.OnInitializedAsync();
        }

        protected async Task OnSave()
        {
            _save_count = 0;

            await thisWeekComp.Save();
            await nextWeekComp.Save();
        }

        protected async Task OnQuery()
        {
            await thisWeekComp.Query(0, _thisWeekStrtDate);
            await nextWeekComp.Query(0, _nextWeekStrtDate);
        }

        protected async Task OnClear()
        {
            await thisWeekComp.Clear(_thisWeekStrtDate, _thisWeekEndDate);
            await nextWeekComp.Clear(_nextWeekStrtDate, _nextWeekEndDate);
        }


        public void OnSaveCompleted(Report report)
        {
            _save_count++;

            if(_save_count >= 2)
            {
                JSRuntime.InvokeVoidAsync("alert", "save succeed...");
            }
        }
    }

