
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">@context.User.Identity.Name</a>
        <form >
            <a href="/auth/login" class="nav-link btn btn-link" @onclick="(()=>Logout())">Logout</a>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="/auth/login">Login</a>
        <a href="Identity/Account/Register">Register</a>
    </NotAuthorized>
</AuthorizeView>

@code
{
    public void Logout()
    {
        ((SiteAuthenticationStateProvider)AuthenticationStateProvider).LogOutAuthenticationStateAsync();
    }
}
