@inherits LayoutComponentBase

    <ToastComponent />

    <AuthorizeView>
        <Authorized>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <TopMenu />
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        @Body
                    </div>
                </div>
            </div>
        </Authorized>

        <NotAuthorized>
            <VideoAppCore.Pages.Login.Login />
        </NotAuthorized>

    </AuthorizeView>
