
@page "/Videos/FrmDbContextTest"

@using VideoAppCore.Models

@inject VideoDBContext videoDbContext 

<h3>FrmDbContextTest</h3>

<ul>
    @foreach (var video in videos)
    {
        <li> @video.Id - @video.Title </li>
    }
</ul>

@code { 

    List<Video> videos;
    protected override void OnInitialized()
    {
        videos = videoDbContext.Videos.Take(1).ToList();
    }
}
